html
  head
    title= title
    style
      include ../node_modules/bootstrap/dist/css/bootstrap.min.css
  body
    div(class='container-fluid')
      table(class='table table-striped small')
        thead
          tr
            each val in ["Target name", "Studio URL", "Studio username", "Studio password", "MBaaS URL", "MBaaS key", "OpenShift token"]
              th= val
        tbody
            each target, i in targets
              tr
                td
                  a(href=target.studio_url)= target.master_url
                td
                  a(href=target.studio_url)= target.studio_url
                td= target.studio_username
                td= target.studio_password
                td
                  a(href=target.mbaas_url)=target.mbaas_url
                td= target.fhmbaaskey
                td= target.token
      
      form(action='/' method='post')
        h4 Add new OpenShift target
        div(class="form-group")
          label(for="master_url") OpenShift master URL:
          input(class="form-control" id="master_url" type='text' name='master_url' placeholder='https://master-domain.com:8443')
          label(for="os_username") OS username:
          input(class="form-control" id="os_username" type='text' name='os_username' placeholder='username')
          label(for="os_password") OS password:
          input(class="form-control" id="os_password" type='text' name='os_password' placeholder='password')
          br
          button(type='submit') Submit
